		<form method="get" action="/quizes">
			<label for="busqueda">Busca una pregunta: </label>
			<input type="text" name="search" placeholder="Texto a buscar" />
			<input type="submit" value="Buscar" />
		</form>
		<br />
		<table>
			<% for(var i=0, len=quizes.length; i<len; i+=1) { %>
				<tr>
					<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
					<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
					<td>
						<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
							<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
						</form>
					</td>
					<td>&nbsp;(<%= quizes[i].tema %>)</td>
				</tr>
			<% } %>
		</table>
		<br />
		<p>
			<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
		</p>
